---
import BaseLayout from '../../layouts/BaseLayout.astro';
import KeyboardGrid from '../../components/KeyboardGrid.astro';
---

<BaseLayout title="Split Keyboards" description="Split Ergonomic Keyboards">
  <article>
    <h1>Split Keyboards</h1>
    <p>Ergonomic keyboards split into two halves.</p>
    <KeyboardGrid category="split" />
  </article>
</BaseLayout>
